body{
    background: linear-gradient(30deg,rgb(77,77,77),rgb(58,58,58));
    color: rgb(70, 70, 70);
}

header{
    position: static;
}

main ul{
    width: 1200px;
    margin: 0 auto;
}

main li{
    margin: 20px;
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
    width: 550px;
}

main li img{
    width: 300px;
    height: 290px;
    object-fit: cover;
}

.item-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content p{
    font-size: 20px;
}

.actions{
    /* display: flex;
    justify-content: flex-end; */
    text-align: right;
}

.actions a{
     padding: 8px 4px;
    /* display: flex;
    align-items: center; */
    text-decoration: none;
    color: rgb(0, 208, 255);
    border-radius: 6px;
    font-weight: 700;
}

.actions a:hover{
    background-color: rgb(197, 243, 253);
}